.dropdown {
  position: relative;
  font-weight: normal;
}

.dropdown-selected {
  border-radius: 3px;
  padding: 5px;
  background-color: var(--red);
  cursor: pointer;
}

div:hover > .dropdown-selected {
  border-radius: 3px 3px 3px 0;
}

.dropdown-text {
  font-size: 22px;
}

.dropdown-arrow-icon {
  float: right;
  height: 16px;
  margin: 7px 0 0 8px;
}

.dropdown-options-menu {
  z-index: 10;
  border: 2px solid var(--red);
  border-radius: 0 5px 5px 5px;
  padding: 5px;
  background: var(--white);
  position: absolute;
  list-style: none;
}

.dropdown-opt {
  padding: 4px 2px;
}

.dropdown-opt > Button {
  line-height: 85%;
}

.dropdown-opt-btn:focus {
  outline: none;
}

.dropdown-opt-btn:hover {
  text-decoration: underline;
}
