.node {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  background-color: var(--white);
  border: 1px solid var(--gray);
}

.node-start {
  background: var(--green) !important;
  border-color: var(--green) !important;
}

.node-end {
  background: var(--red) !important;
  border-color: var(--red) !important;
}

.node-path {
  border-color: var(--yellow) !important;
  background: var(--yellow) !important;
}

.node-possible-drop:hover {
  border: 3px solid var(--darkgray);
}

.node-wall {
  border-color: var(--black);
  background: var(--black);
}

.node-w2 {
  border-color: var(--w2border);
  background: var(--w2);
}

.node-w4 {
  border-color: var(--w4border);
  background: var(--w4);
}

.node-w8 {
  border-color: var(--w8border);
  background: var(--w8);
}

.node-visited {
  animation-name: visited;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes visited {
  30% {
    border-color: var(--violet);
    background: var(--paleviolet);
  }
  100% {
    border-color: var(--slightlydarkerblue);
    background: var(--blue);
  }
}
