.main-grid-container {
  border: 1px solid #d6d6d6;
  background: white;
  width: fit-content;
  margin: auto;
  border-collapse: collapse;
}

#grid-body {
  border-collapse: collapse;
}

.grid-row {
  margin: -4px 0;
  padding: 0;
}
