.animated-btn {
  border: none;
  border-radius: 3px;
  padding: 7px;
  font-size: inherit;
  cursor: pointer;
}

.red-btn {
  background: var(--red);
}

.red-btn:hover {
  background: var(--slightlydarkerred);
}

.blue-btn {
  background: var(--blue);
}

.blue-btn:hover {
  background: var(--slightlydarkerblue);
}
