.animated-btn {
  border: none;
  border-radius: 3px;
  padding: 5px 5px;
  font-size: inherit;
  cursor: pointer;
}

.red-btn {
  border: 3px solid var(--darkred);
  background: var(--red);
}

.red-btn:hover {
  background: var(--darkred);
}

.yellow-btn {
  border: 3px solid var(--darkyellow);
  background: var(--yellow);
}

.yellow-btn:hover {
  background: var(--darkyellow);
}

.blue-btn {
  border: 3px solid var(--darkblue);
  background: var(--blue);
}

.blue-btn:hover {
  background: var(--darkblue);
}
