.flicker-container {
  display: flex;
  align-items: baseline;
}

.flicker-main {
  display: flex;
  height: 35px;
  text-align: center;
}

.flicker-value-display {
  height: 25px;
  width: 25px;
  margin-left: 12px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
}

.flicker-btn {
  width: 35px;
  height: 35px;
}

.flicker-btn:hover {
  background: var(--slightlydarkerblue);
  cursor: pointer;
}

.flicker-left {
  background: var(--blue);
  border-radius: 3px 0 0 3px;
  border-right: none;
  border-right: 1px solid var(--darkblue);
}

.flicker-right {
  background: var(--blue);
  border-radius: 0 3px 3px 0;
  border-left: none;
  border-left: 1px solid var(--darkblue);
}

.flicker-middle {
  background: var(--blue);
  padding: 0 7px;
  padding-top: 7px;
  cursor: default;
  border-left: none;
  border-right: none;
}
