.visualize-btn {
  border: none;
  border-radius: 3px;
  padding: 8px 30px;
  font-size: inherit;
  cursor: pointer;
  background: var(--yellow);
  box-shadow: 0 4px var(--darkyellow);
}

.visualize-btn:hover {
  position: relative;
  top: 1px;
  box-shadow: 0 3px var(--darkyellow);
}

.visualize-btn:focus {
  outline: none;
}

.visualize-btn:active {
  top: 3px;
  box-shadow: none;
}
