.main-navbar-container {
  background-color: var(--blue);
  width: 100%;
  min-height: 60px;
  margin-bottom: 20px;
  display: flex;
}

#navbar {
  width: 60%;
  font-size: 22px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#yellow-stripe {
  position: absolute;
  width: 71.75px;
  height: 145.93px;
  left: -9.48px;
  top: -97.51px;

  background: var(--yellow);
  transform: rotate(45deg);
}

#red-stripe {
  position: absolute;
  width: 55.42px;
  height: 278.22px;
  left: 42.41px;
  top: -117.25px;

  background: var(--red);
  border-right: 2px solid var(--darkred);
  transform: rotate(45deg);
}
