.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.check-box {
  width: 25px;
  height: 25px;
  margin-left: 12px;
  border: 1px solid black;
  border-radius: 3px;
  background: rgb(255, 255, 255);
}

.check-img {
  position: relative;
  padding: 0;
  image-rendering: crisp-edges;
  height: 23px;
  width: 23px;
}
